@model Bookly.ViewModels.AddBookViewModel
@{
    ViewBag.Title = "AddBookForm";
}

<h2>AddBookForm</h2>

@using (Html.BeginForm("Save", "Books"))
{
    <div class="form-group">
        @Html.LabelFor(b => b.Book.Name)
        @Html.TextBoxFor(b => b.Book.Name, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(b => b.Book.Author)
        @Html.TextBoxFor(b => b.Book.Author, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(b => b.Book.Publisher)
        @Html.TextBoxFor(b => b.Book.Publisher, new {@class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(b => b.Book.YearPublished)
        @Html.TextBoxFor(b => b.Book.YearPublished, new {@class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(b => b.Book.ISBN)
        @Html.TextBoxFor(b => b.Book.ISBN, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(b => b.BookCategories)
        @Html.DropDownListFor(b => b.BookCategories, new SelectList(Model.BookCategories, "Id", "Name"), "Select Category", new {@class = "form-control"})
    </div>
   
    <button type="submit" class="btn btn-primary">Save</button>

}

