@model List<Bookly.Models.Book>
@{
    ViewBag.Title = "Catalog of Books";
}

@foreach (var book in Model)
{
    <h2>@book.Name</h2>
    <h3>@book.Author</h3>
    <h3>Category: @book.BookCategory.Name</h3>
    <h3>@book.Publisher, @book.YearPublished</h3>
}



