@model List<Bookly.Models.Book>
@{
    ViewBag.Title = "Catalog of Books";
}


@Html.ActionLink("Add Book","Add", "Books", new { @class = "btn btn-primary"})

@foreach (var book in Model)
{
    <h1>@Html.ActionLink(book.Name,"Edit","Books", new {id = book.Id}, null)</h1>
    
    <h3>@book.Author</h3>

    @*Replace mode with BookViewModel and add Category*@
    @*<h3>Category: @book.Name</h3>*@
    <h3>@book.Publisher, @book.YearPublished</h3>
}



